@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

'body, input, textarea, button': {
  font-family: 'Roboto';
  font-weight: 400;
}

.my-class {
  max-width: 'calc(100vw - ((100vw - 1180px) / 2))';
}
